.App {
  text-align: center;
}

header{
  background-image: "green-background.gif";
  font-size: x-large;
  padding-top: 60px;
  margin-top: 60px;
  background-color: whitesmoke;
  font-weight: bolder;
  padding-bottom: 60px;
  box-shadow: 10px 5px 5px violet;
}
